* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

.board-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.board {
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
}

pre {
    margin: 0;
}

h2 {
    margin-bottom: 0.4em;
}

.sea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    width: 275px;
    height: 275px;
    gap: 0;
}

.spot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 3px solid rgb(59, 24, 255);
    background-color: rgb(42, 163, 244);
    border-radius: 5px;
}

.num_spot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 3px solid rgb(174, 174, 174);
    border-radius: 5px;
}

.deck {
    width: 20px;
    height: 20px;
    border: 3px solid grey;
    background-color: rgb(181, 181, 181);
    border-radius: 50%;
}

.bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.sinking_ship {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.flex{
    display: flex;
}

.fields {

}

.controls{

}

.gap-50{
   gap: 50px; 
}

/* storybook */

.st-sidebar{
    width: 250px;
}

.cell-wrapper{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}

.cell{
    /* border: 4px solid rgb(59, 24, 255); */
    width: 150px;
    height: 150px;
    position: relative;

}

.cell img{
    width: 100%;
    position: absolute; 
}

.cell img.direction-up{
    transform: rotate(-90deg);
}
.cell img.direction-left{
    transform: scaleX(-1);
}
.cell img.direction-down{
    transform: rotate(-90deg) scaleX(-1);
}
