<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/lib.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storybook</title>
</head>

<body>
    <div class="flex gap-50">
        <div class="st-sidebar">
            <ul>
                <li><a href="example.html">Sea</a></li>
                <li><a href="example.html">Form</a></li>
            </ul>
        </div>
        <div>
            <section>
                <h2>Sea cells for experimentation</h2>
                <div class="cell-wrapper">

                </div>
                <button id="confetti-btn">Confetti Button</button>
            </section>
            <section>
                <h2>Seas</h2>
                <div class="board" id="board-1">
                    <h2>Your sea</h2>
                    <pre id="userSea">Loading...</pre>
                </div>
            </section>
            <section>
                <h2>Forms</h2>
            </section>
        </div>
    </div>
    <script>


        const cellWrapperEl = document.querySelector(".cell-wrapper")
        cellWrapperEl.innerHTML += (drawCell("empty_sea"))
        cellWrapperEl.innerHTML += (drawCell("alive_ship"))
        cellWrapperEl.innerHTML += (drawCell("alive_ship", "up"))
        cellWrapperEl.innerHTML += (drawCell("alive_ship", "left"))
        cellWrapperEl.innerHTML += (drawCell("alive_ship", "down"))
        cellWrapperEl.innerHTML += (drawCell("alive_ship_nose"))
        cellWrapperEl.innerHTML += (drawCell("damaged_ship_nose", "up"))
        cellWrapperEl.innerHTML += (drawCell("sunken_ship_nose", "left"))
        cellWrapperEl.innerHTML += (drawCell("alive_ship_nose", "down"))
        cellWrapperEl.innerHTML += (drawCell("damaged_ship"))
        cellWrapperEl.innerHTML += (drawCell("sunken_ship"))
        cellWrapperEl.innerHTML += (drawCell("missed"))
        cellWrapperEl.innerHTML += (drawCell("no_ship"))



        // const sea = [
        //     [".", "X", "~", ".", "#", "~", ".", "#", "~", "."],
        //     [".", "#", "~", ".", "#", "~", "X", "#", "-", "."],
        //     [".", "#", "~", ".", "#", "~", ".", "#", "~", "X"],
        //     [".", "#", "X", ".", "#", "~", ".", "#", "~", "."],
        //     [".", "#", "~", "-", "X", "~", ".", "#", "~", "."],
        //     [".", "#", "~", ".", "#", "~", ".", "#", "~", "."],
        //     [".", "X", "~", ".", "#", "~", ".", "X", "~", "."],
        //     [".", "#", "~", ".", "#", "X", ".", "#", "~", "."],
        //     ["-", "#", "~", ".", "#", "~", ".", "#", "~", "."],
        //     [".", "#", "X", ".", "#", "~", ".", "#", "~", "."],
        // ]
        const sea = [
            [".", ".", "?", "?", "?", ".", ".", ".", ".", "."],
            [".", ".", "?", "?", "?", ".", ".", "~", ".", "."],
            [".", ".", ".", ".", ".", ".", ".", ".", ".", "."],
            [".", ".", ".", ".", ".", ".", ".", ".", ".", "."],
            [".", ".", ".", "#", "@", "#", ".", ".", ".", "."],
            [".", ".", ".", ".", ".", ".", ".", ".", ".", "."],
            [".", ".", ".", ".", ".", ".", "-", "-", "-", "."],
            [".", ".", ".", ".", ".", ".", "-", "X", "-", "."],
            [".", ".", "~", ".", ".", ".", "-", "-", "-", "."],
            [".", ".", ".", ".", ".", ".", ".", ".", ".", "."],

        ]
        // first our field's properties will be listed, and only after that what we know of the enemies
        // . = spot of sea 
        // fix bot's spot of unknown nature
        // # = unscathed ship 
        // fix damaged ship, it also can be sunken on bot's field that we see
        // X = sunken ship
        // todo: add sunken ship decks to bot field
        // ~ = misses (V)
        // - = where there cannot be a ship/where there cannot be a ship (V)
        // @ - damaged ship
        // ? - spot of unknown nature

        document.getElementById("userSea").textContent = format(sea);
        const wrapperEl1 = document.querySelector("#board-1")
        // renderPrettySea(transformOppositeSea(sea), wrapperEl1)
        renderPrettySea(transformVisibleSea(sea), wrapperEl1)
        console.log(sea)

        const confettiBtn = document.querySelector("#confetti-btn")
        confettiBtn.addEventListener("click", () => {
            throwConfetti(250)
        })
    </script>
</body>

</html>