<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/lib.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storybook</title>
</head>

<body>
    <div class="flex gap-50">
        <div class="st-sidebar">
            <ul>
                <li><a href="example.html">Sea</a></li>
                <li><a href="example.html">Form</a></li>
            </ul>
        </div>
        <div>
            <section>
                <h2>Sea cells for experimentation</h2>
                <div class="cell-wrapper">

                </div>
            </section>
            <section>
                <h2>Seas</h2>
                <div class="board" id="board-1">
                    <h2>Your sea</h2>
                    <pre id="userSea">Loading...</pre>
                </div>
            </section>
            <section>
                <h2>Forms</h2>
            </section>
        </div>
    </div>
    <script>
        const sea = [
            [".", "X", "~", ".", "#", "~", ".", "#", "~", "."],
            [".", "#", "~", ".", "#", "~", "X", "#", "-", "."],
            [".", "#", "~", ".", "#", "~", ".", "#", "~", "X"],
            [".", "#", "X", ".", "#", "~", ".", "#", "~", "."],
            [".", "#", "~", "-", "X", "~", ".", "#", "~", "."],
            [".", "#", "~", ".", "#", "~", ".", "#", "~", "."],
            [".", "X", "~", ".", "#", "~", ".", "X", "~", "."],
            [".", "#", "~", ".", "#", "X", ".", "#", "~", "."],
            ["-", "#", "~", ".", "#", "~", ".", "#", "~", "."],
            [".", "#", "X", ".", "#", "~", ".", "#", "~", "."],
        ]
        // first our field's properties will be listed, and only after that what we know of the enemies
        // . = spot of sea/spot of unknown nature
        // # = unscathed ship/damaged ship, it also can be sunken on bot's field  that we see
        // X = sunken ship/nonexistent
        // ~ = nonexistent/misses
        // - = where there cannot be a ship/where there cannot be a ship
        

        document.getElementById("userSea").textContent = format(sea);
        const wrapperEl1 = document.querySelector("#board-1")
        renderSea(sea, wrapperEl1)
        console.log(sea)

        const drawCell = (type, direction = "right") => {
            let innerType = type
            let condition = null
            if (type === "damaged_ship"){
                condition = "damaged"
                innerType = "alive_ship"
            }else if (type === "damaged_ship_nose"){
                condition = "damaged"
                innerType = "alive_ship_nose"
            }else if (type === "sunken_ship"){
                condition = "sunken"
                innerType = "alive_ship"
            }else if (type === "sunken_ship_nose"){
                condition = "sunken"
                innerType = "alive_ship_nose"
            }
            const cell = document.createElement("div")
            cell.classList.add("cell")
            switch(innerType){
                case "empty_sea": 
                    cell.innerHTML = '<img src = "/pictures/cell/just_sea.png"/>'
                    break
                case "alive_ship":
                    cell.innerHTML = '<img src = "/pictures/cell/just_sea.png"/>'
                    cell.innerHTML += `<img src = "/pictures/cell/middle_deck.png" class = "direction-${direction}"/>`
                    break
                case "alive_ship_nose":
                    cell.innerHTML = '<img src = "/pictures/cell/just_sea.png"/>'
                    cell.innerHTML += `<img src = "/pictures/cell/end_deck.png" class = "direction-${direction}"/>`
                    break
                // case "damaged_ship":
                //     cell.innerHTML = '<img src = "/pictures/cell/just_sea.png"/>'
                //     cell.innerHTML += '<img src = "/pictures/cell/middle_deck.png"/>'
                //     cell.innerHTML += '<img src = "/pictures/cell/mark_of_defeat.png"/>'
                //     break
                // case "sunken_ship":
                //     cell.innerHTML = '<img src = "/pictures/cell/just_sea.png"/>'
                //     cell.innerHTML += '<img src = "/pictures/cell/middle_deck.png"/>'
                //     cell.innerHTML += '<img src = "/pictures/cell/explosion.png"/>'
                //     break
                case "miss":
                case "no_ship":
                    cell.innerHTML = '<img src = "/pictures/cell/just_sea.png"/>'
                    cell.innerHTML += '<img src = "/pictures/cell/waves.png"/>'
                    break
                default:    
                    cell.innerHTML = "default"
            }
            if (condition === "damaged"){
                cell.innerHTML += '<img src = "/pictures/cell/explosion.png"/>' 
            }else if (condition === "sunken"){
                cell.innerHTML += '<img src = "/pictures/cell/mark_of_defeat.png"/>'
            }

            return cell
        }
        const cellWrapperEl = document.querySelector(".cell-wrapper")
        cellWrapperEl.appendChild(drawCell("empty_sea"))
        cellWrapperEl.appendChild(drawCell("alive_ship"))
        cellWrapperEl.appendChild(drawCell("alive_ship", "up"))
        cellWrapperEl.appendChild(drawCell("alive_ship", "left"))
        cellWrapperEl.appendChild(drawCell("alive_ship", "down"))
        cellWrapperEl.appendChild(drawCell("alive_ship_nose"))
        cellWrapperEl.appendChild(drawCell("damaged_ship_nose", "up"))
        cellWrapperEl.appendChild(drawCell("sunken_ship_nose", "left"))
        cellWrapperEl.appendChild(drawCell("alive_ship_nose", "down"))
        cellWrapperEl.appendChild(drawCell("damaged_ship"))
        cellWrapperEl.appendChild(drawCell("sunken_ship"))
        cellWrapperEl.appendChild(drawCell("miss"))
        cellWrapperEl.appendChild(drawCell("no_ship"))
    </script>
</body>

</html>